<div><%= flash[:notice] %></div>

<p>
  <b>Title:</b><%= @book.title %>
</p>

<p>
  <b>Body:</b><%= @book.body %>
</p>

<span>
  <%= link_to "Edit", edit_book_path %>
  <%= link_to "Back", books_path %>
</span>
